												<div class="container">
						<div class="row">

							

							<!-- Tweets -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon fa-twitter circled"><span class="label">Tweets</span></h2>
									</header>
									<ul class="divided">
										<li>
											<article class="tweet">
													<a href=<%= tweetU0 %>><%= tweetT0 %></a>
												<span class="timestamp"><%= tweetC0 %></span>
											</article>
										</li>
										<li>
											<article class="tweet">
												<a href=<%= tweetU1 %>><%= tweetT1 %></a>
												<span class="timestamp"><%= tweetC1 %></span>
											</article>
										</li>
										<li>
											<article class="tweet">
											<a href=<%= tweetU2 %>><%= tweetT2 %></a>
												<span class="timestamp"><%= tweetC2 %></span>
											</article>
										</li>
										<li>
											<article class="tweet">
											<a href=<%= tweetU3 %>><%= tweetT3 %></a>
												<span class="timestamp"><%= tweetC3 %></span>
											</article>
										</li>
									</ul>
								</section>
							<!-- Posts -->
								<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon fa-file circled"><span class="label">Posts</span></h2>
									</header>
									<ul class="divided">
										<li>
											<article class="post stub">
												<header>
													<h3><a href=<%= postU0 %>><%= postT0 %></a></h3>
												</header>
												<span class="timestamp"><%= postC0 %></span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href=<%= postU1 %>><%= postT1 %></a></h3>
												</header>
												<span class="timestamp"><%= postC1 %></span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href=<%= postU2 %>><%= postT2 %></a></h3>
												</header>
												<span class="timestamp"><%= postC2 %></span>
											</article>
										</li>
										<li>
											<article class="post stub">
												<header>
													<h3><a href=<%= postU3 %>><%= postT3 %></a></h3>
												</header>
												<span class="timestamp"><%= postC3 %></span>
											</article>
										</li>
									</ul>
								</section>

							<!-- Photos -->
				<section class="col-4 col-12-mobile">
									<header>
										<h2 class="icon fa-camera circled"><span class="label">Photos</span></h2>
									</header>
									
									<div class="row gtr-25">
										<div class="col-6">
											<a href=<%= instaU0 %> class="image insta"><img src=<%= instaP0 %> alt="" /></a>
										</div>
										<div class="col-6">
											<a href=<%= instaU1 %> class="image insta"><img src=<%= instaP1 %> alt="" /></a>
										</div>
										<div class="col-6">
											<a href=<%= instaU2 %> class="image insta"><img src=<%= instaP2 %> alt="" /></a>
										</div>
										<div class="col-6">
											<a href=<%= instaU3 %> class="image insta"><img src=<%= instaP3 %> alt="" /></a>
										</div>
										<div class="col-6">
											<a href=<%= instaU4 %> class="image insta"><img src=<%= instaP4 %> alt="" /></a>
										</div>
										<div class="col-6">
											<a href=<%= instaU5 %> class="image insta"><img src=<%= instaP5 %> alt="" /></a>
										</div>
									</div>
								
								</section>

						</div>
						<hr />
