<!DOCTYPE html>
<html>

<% include partials/header %>
<center>
		<h1><%= title %></h1>
							<!-- Photos -->
								<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="Helios/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="Helios/assets/css/noscript.css" /></noscript>
	</head>

											<a href=<%= yelpU0 %> class="image yelp"><img src=<%= yelpP0 %> alt="" /></a>

											<a href=<%= yelpU1 %> class="image yelp"><img src=<%= yelpP1 %> alt="" /></a>
							
											<a href=<%= yelpU2 %> class="image yelp"><img src=<%= yelpP2 %> alt="" /></a>
				
											<a href=<%= yelpU3 %> class="image yelp"><img src=<%= yelpP3 %> alt="" /></a>
					
											<a href=<%= yelpU4 %> class="image yelp"><img src=<%= yelpP4 %> alt="" /></a>
		
											<a href=<%= yelpU5 %> class="image yelp"><img src=<%= yelpP5 %> alt="" /></a>
					
											<a href=<%= yelpU6 %> class="image yelp"><img src=<%= yelpP6 %> alt="" /></a>

											<a href=<%= yelpU7 %> class="image yelp"><img src=<%= yelpP7 %> alt="" /></a>
							
											<a href=<%= yelpU8 %> class="image yelp"><img src=<%= yelpP8 %> alt="" /></a>
					
											<a href=<%= yelpU9 %> class="image yelp"><img src=<%= yelpP9 %> alt="" /></a>
					
											<a href=<%= yelpU10 %> class="image yelp"><img src=<%= yelpP10 %> alt="" /></a>
		
											<a href=<%= yelpU11 %> class="image yelp"><img src=<%= yelpP11 %> alt="" /></a>	

											<a href=<%= yelpU12 %> class="image yelp"><img src=<%= yelpP12 %> alt="" /></a>

											<a href=<%= yelpU13 %> class="image yelp"><img src=<%= yelpP13 %> alt="" /></a>

											<a href=<%= yelpU14 %> class="image yelp"><img src=<%= yelpP14 %> alt="" /></a>
							
											<a href=<%= yelpU15 %> class="image yelp"><img src=<%= yelpP15 %> alt="" /></a>

											<a href=<%= yelpU16 %> class="image yelp"><img src=<%= yelpP16 %> alt="" /></a>
					
											<a href=<%= yelpU17 %> class="image yelp"><img src=<%= yelpP17 %> alt="" /></a>
		
											<a href=<%= yelpU18 %> class="image yelp"><img src=<%= yelpP18 %> alt="" /></a>	

											<a href=<%= yelpU19 %> class="image yelp"><img src=<%= yelpP19 %> alt="" /></a>
		

					
</center>





<% include partials/footer %>
